{#

/**
 * @file
 * Template file for soccerbet tournament.
 */
#}
<div id="tournament">
    <div class="clearfix">
        {{ logo }}
        {{ name }}
        <div class="soccerbet-tournament-dates clearfix">
            {{ date_range }}
        </div>
    </div>

    <ul>
        <li><a href="#tables">Tables</a></li>
        <li><a href="#games">Games</a></li>
    </ul>
    <div id="tables">
        {{ soccerbet_tournament_tables }}
    </div>
    <div id="games">
        {{ soccerbet_tournament_games }}
    </div>
</div>